<!-- <div class="nested-fields">
  <%= collection_select(:exercises_workout, :exercise_id, Exercise.all, :id, :name, :include_blank => true) %>
  <%= hidden_field :exercises_workout, :workout_id, value: @workout.id %>
</div> -->

<div class="nested-fields form-group">
  <%= f.select :exercise_id, Exercise.all.collect { |e| [e.name, e.id] }, :include_blank => true %>
  <%= f.select :exercise_id, Exercise.where(muscle_group: 'muscle_group').collect { |e| [e.muscle_group] }, :include_blank => true %>
  <%= link_to_remove_association "Remove", f, class: 'btn', id: 'btn-delete' %>
</div>