<%= form_for @workout do |f| %>
  <% if workout.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(workout.errors.count, "error") %> prohibited this exercise from being saved:</h2>

    <ul>
    <% workout.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <p>Workout Name:</p>
    <%= f.text_field :label %>
  </div>

  <div>
    <p>Choose Your Exercise to Add:</p>
    <%= f.fields_for @workout.exercises do |exercise| %>
      <%= render 'exercise_fields', f: exercise %>
    <% end %>
  </div>

  <div class="links">
    <%= link_to_add_association 'add exercise', f, :exercises %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<!-- <% if @workout.exercises.exists? %>
    <div class="row">
      <% @workout.exercises.each do |exercise| %>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= exercise.name %>
          </div>
          <div class="panel-body">
            <%if exercise.image? %>
              <%= image_tag exercise.image, class: 'img-responsive' %>
            <% end %>
            <%= exercise.muscle_group %>
          </div> 
        </div> 
      </div> 
      <% end %>
    </div> 
  <% end %> -->