<%= form_for @workout do |f| %>
  <% if workout.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(workout.errors.count, "error") %> prohibited this exercise from being saved:</h2>

    <ul>
    <% workout.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<div class="row">
  <div class="col-xs-8 col-md-4">
  <div class="form-group">
    <p>Workout Name:</p>
    <%= f.text_field :label, class: 'form-control' %>
  </div>

  <div class="form-group">
    <p>Choose Exercises:</p>
    <div id="exercises_workout">
    <%= f.fields_for :exercises_workouts do |exercise| %>
      <%= render 'exercises_workout_fields', f: exercise, muscle_group: exercise.object.exercise.muscle_group %>

      <% end %>
      <div class="links">
        <% Exercise.pluck(:muscle_group).uniq.each do |muscle_group| %>
          <%= link_to_add_association "Add #{muscle_group} Exercise", 
                                      f, :exercises_workouts, 
                                      class: 'btn btn-default',
                                      render_options: { locals: { muscle_group: muscle_group }} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn', id: 'btn-submit' %>
    <%if @workout.id %>
      <%= link_to 'Back to Workout', @workout, class: 'btn', id: 'return-workout-link' %> 
    <% end %>
    <%= link_to 'All Workouts', workouts_path, class: 'btn', id: 'all-workouts-link' %>
  </div>
</div>
</div>
<% end %>
