<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :label %>
    <%= form.text_field :label, id: :workout_label, class: 'form-control' %>
  </div>

  <div>
    <%= form.collection_check_boxes :exercise_id, Exercise.all, :id, :name %>
  <div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
