<h1>All Workouts</h1>

<div class="row">
    <% @workouts.each do |workout| %>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><%= workout.label %></div>
                <div class="panel-body">
                    <p>

                    </p>
                </div>
                <div class="panel-footer">
                        <%= link_to 'Show', workout %>
                        <%= link_to 'Edit', edit_workout_path(workout) %>
                        <%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </div> <!-- Panel class -->
        </div> <!-- Col-sm-4 -->
    <% end %>
</div> <!-- row -->

<%= link_to 'New Workout', new_workout_path %>