<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @workout.label %>
</p>

<p>
  <strong>Legs:</strong>
  <%= @workout.legs %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @workout.chest %>
</p>

<p>
  <strong>Back:</strong>
  <%= @workout.shoulders %>
</p>

<p>
  <strong>Arms:</strong>
  <%= @workout.arms %>
</p>

<p>
  <strong>Abs:</strong>
  <%= @workout.abs %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>