<p id="notice"><%= notice %></p>

<h3><%= @workout.label %></h3>

<div class="row">
  <% @workout.exercises.each do |exercise| %>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= exercise.name %>
      </div>
      <div class="panel-body">
        <%if exercise.image? %>
          <%= image_tag exercise.image, class: 'img-responsive' %>
        <% end %>
        <%= exercise.muscle_group %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to  "Add Exercise", add_exercise_path(id: @workout.id), class: 'btn btn-default' %>
<%= link_to 'Edit Workout', '#', class: 'btn btn-warning' %>
<%= link_to 'Delete Workout', '#', method: :delete, data: { confirm: 'Are you sure you want to delete this workout?' }, class: 'btn btn-danger' %>
<%= link_to 'All Workouts', workouts_path, class: 'btn btn-primary' %>
