<%= stylesheet_link_tag 'pages' %>

<div class="row">
  <div class="col-md-12">
    <div id="carousel-home" class="carousel slide carousel-style">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag 'leg-press.jpg' %>
            <div class="carousel-caption">
              <h1>Your Workout, Your Way!</h1>
              <p>Personalize your workout by choosing exercises based on your needs.</p>
            </div>
        </div>
        <div class="item">
          <%= image_tag 'push-up.jpg' %>
            <div class="carousel-caption">
              <h1>Work Out Anywhere</h1>
              <p>Workout even if you're not able to make it to the gym.</p>
            </div>
        </div>
        <div class="item">
          <%= image_tag 'dumbbell-rack.jpg' %>
            <div class="carousel-caption">
              <h1>Exercises with Examples</h1>
              <p>Not sure how to use that gym equipment? Always wanted to try an exercise but not sure how? 
                  Each exercise comes with an example and description.
              </p>
            </div>
        </div>
        <div class="item">
          <%= image_tag 'snatch.jpg' %>
            <div class="carousel-caption">
              <h1>Reach Your Fitness Goals!</h1>
              <p>Time to stop making excuses and take control of your health.</p>
            </div>
        </div>
      </div> <!-- carousel inner -->
      <a class="left carousel-control" href="#carousel-home" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-home" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> <!-- carousel slide -->
  </div> <!-- col-md-12 -->
</div> <!-- row -->
