<%= form_with(model: exercise, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :exercise_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :muscle_group %> </br>
    <%= form.select :muscle_group, options_for_select(Exercise::MUSCLE_GROUP), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :equipment_type %>
    <%= form.select :equipment_type, options_for_select(Exercise::EQUIPMENT_TYPE), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
