<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Muscle group:</strong>
  <%= @exercise.muscle_group %>
</p>

<div>
  <%= image_tag @exercise.image, height: '300', width: 'auto' %>
</div>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
